useDynLib(M2algorithmique, .registration=TRUE)

export(heap_sort)
export(heap_sort_Rcpp)
export(tri_fusion)
export(tri_fusion_Rcpp)

export(tri_base)
export(tri_base_Rcpp)

importFrom(Rcpp, evalCpp)

